body, html, .main, section {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main {
    position: relative;
    overflow: hidden;
    min-width: 800px;
}

@keyframes boor-vooruit {
	0%   { transform: translate(0, 0) rotate(0deg); }
	100% { transform: translate(200px, 0) rotate(1deg); }
}

.boor {
	position: absolute;
	top: 30%;
	left: 10%;
	width: 800px;
	height: 350px;
	animation: boor-vooruit 7000ms 2000ms ease-in infinite alternate forwards;
}

.handvat {
	background: #224242;
	width: 85px;
	height: 190px;
	position: absolute;
	bottom: 0;
	border-bottom-left-radius: 15px;
	transform: rotate(2deg);
	z-index: 5;
}

.handvat-onder {
	background: #224242;
	width: 22px;
	height: 40px;
	position: absolute;
	right: -21px;
	bottom: 0;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}

@keyframes trekker-induwen {
	0%   { transform: translateX(0); }
	100% { transform: translateX(-10px); }
}

.trekker {
	background: #DA595D;
	position: absolute;
	bottom: 134px;
	left: 86px;
	width: 15px;
	height: 50px;
	animation: trekker-induwen 3000ms 2000ms ease-in infinite;
	z-index: 1;
}

.knopje {
	background: #000;
	position: absolute;
	top: 13px;
	right: -5px;
	width: 5px;
	height: 25px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

/* MOTOR */
.motor {
	background: linear-gradient(180deg, #e2e2e3 0%, #C8C8CA 100%);
	width: 350px;
	height: 160px;
	position: absolute;
	bottom: 188px;
	left: 3px;
	overflow: hidden;
}

.uitsteeksel-tl {
	background: linear-gradient(180deg, #336464 0%, #2F5B5B 100%);
	width: 22px;
	height: 40px;
	position: absolute;
	left: -18px;
	top: 2px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

.motor-ei {
	background: linear-gradient(180deg, #e2e2e3 0%, #C8C8CA 100%);
	width: 120px;
	height: 160px;
	position: absolute;
	left: 350px;
	top: 2px;
	border-radius: 50% 50% 50% 50%/0% 50% 50% 0%;
	z-index: 2;
}

.motor .eerste-deel {
	background: linear-gradient(180deg, #336464 0%, #224242 100%);
	width: 240px;
	height: 160px;
	position: absolute;
	top: 0;
	left: -40px;
	border-right: 20px solid #DA595D;
	transform: skew(-20deg);
}

.kop {
	position: absolute;
	left: 450px;
	top: 40px;
	z-index: 1;
}

.kop-statisch {
	background: linear-gradient(180deg, #929296 0%, #78787d 100%);
	width: 70px;
	height: 80px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 2;
	position: absolute;
}

.kop-bewegend {
	background: linear-gradient(180deg, #262626 0%, #000000 100%);
	position: absolute;
	top: 5px;
	left: 53px;
	width: 60px;
	height: 70px;
	border-radius: 20px 20px 20px/24px;
	z-index: 1;
}

.boortje {
	background: linear-gradient(180deg, #929296 0%, #78787d 100%);
	position: absolute;
	left: 105px;
	top: 31px;
	width: 300px;
	height: 20px;
	/*border-radius: 20px/23px;*/
	overflow: hidden;
}

@keyframes groef-boren {
	0%   { transform: translateX(0px); }
	100% { transform: translateX(-650px); }
}

.boortje .groeven {
	width: 1000px;
	animation: groef-boren 3000ms 2000ms ease-in infinite alternate;
}

.boortje .groef {
	background: #535356;
	width: 5px;
	height: 20px;
	transform: skew(25deg);
	float: left;
	margin-left: 15px;
}

.boortje .groef1 {
	margin-left: 8px;
}

.boortje-scherp {
	width: 0;
	height: 0;
	position: absolute;
	left: 404px;
	top: 31px;
	border-left: 10px solid #78787d;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
}


/* BALK */
.balk {
	background: linear-gradient(-90deg, #45291a 0%, #613a25 100%);
	position: absolute;
	left: 10%;
	top: 20%;
	bottom: 0;
	width: 200px;
	height: 100%;
	margin-left: 900px;
	border-radius: 200px/75px;
}

@keyframes snippers1 {
	0%   { transform: translate(0px, 0); opacity: 1; }
	10%   { transform: translate(-30px, -5px) rotate(120deg); }
	100% { transform: translate(-100px, 1000px) rotate(20deg); }
}

@keyframes snippers2 {
	0%   { transform: translate(0px, 0); opacity: 1; }
	10%   { transform: translate(-10px, -10px) rotate(60deg); }
	100% { transform: translate(-100px, 1000px) rotate(20deg); }
}

.snippers {
	position: absolute;
	background: linear-gradient(90deg, #ab926d 0%, #beaa8d 100%);
	width: 50px;
	height: 8px;
	border-radius: 2px;
	top: 195px;
	left: -51px;
	opacity: 0;
	transform: rotate(173deg);
	animation: snippers1 2s 5.5s linear 2;
}

.snipper1 {
	animation-delay: 5.5s;
}

.snipper2 {
	animation-name: snippers2;
	animation-delay: 6.5s;
	width: 40px;
	height: 6px;
}

.snipper3 {
	animation-delay: 7s;
	width: 20px;
}

.snipper4 {
	animation-delay: 9s;
}