body, html, .main, section {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main {
	position: relative;
	overflow: hidden;
	min-width: 800px;
}

@keyframes zagen {
    0%   { left: 0%;  top: 30%;}
	100% { left: 15%; top: 22%;}
}

.zaag {
	position: relative;
	top: 30%;
	left: 10%;
	width: 80%;
	height: 80%;
	animation: zagen 1s linear infinite alternate;
	transform: rotate(-10deg);
}

.zaag .handvat {
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	border: 25px solid #E14F16;
	border-radius: 20px 0 0 20px;
	width: 100px;
	height: 160px;
	z-index: 21;
}

.zaag .handvat .schuin-binnenkant {
	width: 0;
	height: 0;
	position: absolute;
	top: 0px;
	left: 49px;
	border-left: 32px solid #fff;
	border-bottom: 111px solid transparent;
	z-index: 22;
}

.zaag .handvat .schuin-buitenkant {
	width: 0;
	height: 0;
	position: absolute;
	top: -25px;
	left: 74px;
	border-left: 43px solid #E14F16;
	border-bottom: 161px solid transparent;
}

.zaag .blad {
	position: absolute;
	left: 100px;
	width: 800px;
	z-index: 20;
}

.zaag .blad .bovenkant {
	width: 0;
	height: 0;
	border-left: 800px solid #A7C2BD;
	border-bottom: 160px solid transparent;
}

.zaag .blad .afkapping {
	background: #fff;
	position: absolute;
	right: 0;
	top: -2px;
	width: 140px;
	height: 160px;
}

.zaag .blad .tanden {
	position: absolute;
	top: 78px;
	left: 10px;
	overflow: hidden;
	width: 99%;
	height: 8px;
	-webkit-transform: rotate(-11.3deg);
}

.zaag .blad .tand {
	float: left;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #A7C2BD;
	margin-bottom: 2px;
}

.zaag .blad .gat {
	position: absolute;
	background: #fff;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: 6px;
	left: 639px;
}

@keyframes hout-vallen {
	0%   { top: 30%; }
	100% { top: 110%; left: 42%; }
}

.hout {
	background: #ab926d;
	position: absolute;
	top: 30%;
	left: 40%;
	width: 200px;
	height: 200px;
	border: 10px solid #45291a;
	border-radius: 200px;
	animation: hout-vallen 2s 12.5s ease 1;
}

@keyframes snipper-vallen {
	0%    { opacity: 1; top: 41%; left: 39%; }
	10%   { top: 40%; left: 38%; }
	20%   { top: 42%; left: 37%; }
	30%   { top: 41%; left: 36%; }
	30%   { top: 50%; left: 36%; }
	100%  { top: 110%; left: 36%; }
}

@keyframes snipper-vallen2 {
	0%    { opacity: 1; top: 41%; left: 39%; }
	10%   { top: 38%; left: 37%; }
	20%   { top: 41%; left: 37%; }
	30%   { top: 41%; left: 35%; }
	30%   { top: 50%; left: 35%; }
	100%  { top: 110%; left: 35%; }
}


.snipper, .snipper2 {
	background: #ab926d;
	position: absolute;
	top: 41%;
	left: 39%;
	width: 10px ;
	height: 10px ;
	border-radius: 10px ;
	animation: snipper-vallen 2s 1s ease infinite;
	opacity: 0;
}

.snipper2 {
	animation: snipper-vallen2 2s 1.3s ease infinite;
}